<!DOCTYPE html>
<html>
  <head>
    <title>HabitSecondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
    <li><%= link_to 'ログアウト', logout_path %></li>
    <% else %>
    <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= yield %>
</div>
  </body>
</html>
