<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HabitSecondApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h1 class="my-0 mr-md-auto font-weight-normal logo-font" style="font-size: 30px;">癖直しマシーン</h1>
      <% if logged_in? %>
      <span class="btn btn-outline-primary" style="margin-top:25px;"><%= link_to 'ログアウト', logout_path %></span>
      <% else %>
      <span class="btn btn-outline-primary" style="margin-top:25px;"><%= link_to 'Twitterでログイン', '/auth/twitter' %></span>
      <% end %>
    </div>
  </header>

  <body>
    <main role="main" class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center container ">
      <% if flash[:notice] %>
      <div class="alert alert-success col-md-4 offset-md-4">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <h2 class="display-4" style="font-size: 25px;">自分の悪い癖を直しましょう！</h2>
      <p class="lead" style="font-size: 18px; margin-top:25px;">自分の悪い癖を直すと宣言(ツイート)します！</p>
      <p>１週間後、目標達成したら！友達がご飯を奢ってくれます！(恐らく)</p>
      <div class="mb-3 text-center" style="margin-top:50px;">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
